<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index - Mongo Books</title>
</head>
<body>
  <h1>Mongo Books Index</h1>
  <ul>
  <% books.forEach(function(book) { %>
    <li><a href="/books/<%= book._id %>"><%= book.title %></a> by <%= book.author %></li>
  <% }) %>
  </ul>
  <br>
  <a href="/books/new">Add a Book</a>
</body>
</html>