<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add - Mongo Books</title>
</head>
<body>
  <form action="/books" method="POST">
    <input type="text" name="title" placeholder="Enter a title">
    <input type="text" name="author" placeholder="Enter an author">
    <input type="submit" value="Add this Book">
  </form>

  <a href="/books">See All Books</a>
</body>
</html>